@mixin adapt($num) {
    @media screen and (max-width: $num) {
        @content;
    }
}

@mixin font($f:'Rm', $s:18px, $c:#fff ) {
    font-family: $f;
    font-size: $s;
    color: $c;
}
@font-face {
    font-family: 'Rm';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
        url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}   
@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
        url('../fonts/gagalin-regular-webfont.woff') format('woff'),
        url('../fonts/gagalin-regular-webfont.svg#gagalinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-position: 100% 100%;
    background-size: cover;
}

.header {
    width: 100%;
    height: 100px;
}
.contaner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;

    @include adapt(992px) {
        max-width: 992px;
    }
    @include adapt(768px) {
        max-width: 768px;
    }
    @include adapt(480px) {
        max-width: 480px;
        padding: 0 16px;
    }
    @include adapt(320px) {
        max-width: 320px;
    }
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adapt(480px) {
        flex-direction: column;
    }
}
.block__logo {
    @include adapt(480px){
        margin-top: 10px;
    }
}
.logo {
    text-decoration: none;
    @include font('Gagalin', 50px);
    cursor: pointer;
}
.desktop__menu {
    .menu__list {
        display: flex; 
    }
    .menu__item {
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }
    .menu__link {
        @include font();
        text-decoration: none;
        transition: color .3s ease-in-out;
        cursor: pointer;
        &:hover{
            color: rgb(241,15,15);
        }
    }
    .nav {
        @include adapt(860px) {
            display: none;
        }
    }
}

.btn__show-menu {
    display: none;
    @include adapt(860px) {
        display: flex;
        justify-content: center;
        align-items: center;
        @include font('Rm', 18px, rgb(88,88,88));
        width: 100px;
        height: 30px;
        background-color: #f6f6f6;
        border-radius: 3px;
        position: relative;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    @include adapt(480px){
        margin-top: 5px;
    }
}
.mobile__menu {
    z-index: -10;
    overflow: hidden;
    height: 0;
    .nav {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0);
        opacity: 0;
        transition: opacity 0.5s ease-in-out
    }
    .menu__item{
        margin-top: 10px;
        text-align: center;
        &:first-child {
            margin-top: 0;
        }
    }
    .menu__link{
        @include font('Gagalin', 30px, rgb(88,88,88));
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: color .3s ease-in-out;

        &:hover {
            color: rgb(204,165,165);
        }
        @include adapt(480px){
            font-size: 24px
        }

    }
}
.mobile__menu-left,
.mobile__menu-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(#f6f6f6, 0.6);
    transition: width .5s ease-in-out;
}
.mobile__menu-left{
    left: 0;
}
.mobile__menu-right {
    right: 0;
}
.mobile__menu-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: visible;
    height: 100%;
    .mobile__menu-left,
    .mobile__menu-right{
        width: 50%;
    }
    .nav {
        opacity: 1;
    }
}
.toggle{
    z-index: 20;
    background-color: rgb(206,114,144);
    color: #f6f6f6;
}

#frame {
    margin-top: 3%;

    display: none;
    position: absolute;
    float: left;
    min-width: 30%;
    width: 30%;
    max-width: 40%;

    height: 80%;
}

.menu__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.menu__item:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.menu__item {
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
    
    width: 150%;

    border-radius: 5px;

    color: #FFF;
    
    font-weight: bold;
    font-family: Verdana, sans-serif;   
    text-transform: uppercase;   

    background: #337AB7;
    border: 1px solid #1a4a73;
}

a.menu__link:hover {
    cursor: pointer;
}

a.menu__link , a.menu__link :hover, a.menu__link :focus, a.menu__link :active {
    text-decoration: none;
    color: inherit;
    text-align: center;
}



.resp-tab {
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
    font-weight: normal;
    border: 1px solid #337AB7;
    border-collapse: collapse;
    min-width: 20%;
    width: 25%;
    max-width: 50%;
    
    font-weight: bold;

}

.resp-tab th, .resp-tab td {
    height: 20%;
    max-height: 40%;
}

.resp-tab th, .resp-tab td {
    padding: 10px 20px;

    border: none;
    font-family: Verdana, sans-serif;   
    border: 1px solid #337AB7;
    vertical-align: top;
}

.resp-tab th:not(.clock):not(.stationName), .resp-tab td:not(.clock):not(.stationName):not(.schedule-tab){
    font-size: 13px;
}

.resp-tab th {
    color: #FFF;
    background: #337AB7;
    font-weight: bold;
    border: 1px solid #1a4a73;   
    text-transform: uppercase;   
    text-align: center;   
}
.resp-tab tr:nth-child(even) {
    background: #edf7ff;
}
.resp-tab td span {
    background: #337AB7;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;   
    text-transform: uppercase;       
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;   
}
@media(max-width: 768px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    .resp-tab td span {
        display: block;
    }
}
@media(max-width: 480px) {
    .resp-tab td {
        width: 100%;
    }
}

.clockpage {
    min-width: 20%;
    width: 25%;
    max-width: 50%;
    margin: auto;
    min-width: 100px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-top: 10px solid #337AB7;
    margin-top: 100px;
    margin-top: 3%;

}

.noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
    -webkit-user-select: none;
	-ms-user-select: none;
}

