{% extends "base.html" %}

{% block style %}
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='calculator.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='calculator.js') }}"></script>
{% endblock %}

{% block content %}
<center>
    <form name="calculator"> 
        <table class="calculator"> 
            <tr>
                <td>
                    <input type="text"id="variable1" onkeyup="this.value = this.value.replace(/[^0-9\.a-fA-F]/, '')">
                </td>
                <td>
                    <select class="selectOperator" name="operator" id="operator">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="variable2" onkeyup="this.value = this.value.replace(/[^0-9\.a-fA-F]/, '')">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="base1">Base1</lable>
                    <select class="selectOperator" name="base1" id="base1">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                </td>
                <td>
                </td>
                <td>
                    <label for="base2">Base2</lable>
                    <select class="selectOperator" name="base2" id="base2">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> 
                    <input type="button" value="solve" onclick="checkCalculator()"/>
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    <input type="text" id="degree" onkeyup="this.value = this.value.replace(/[^0-9\.]/, '')">
                </td>
                <td>
                    <input type="text" id="minutes" onkeyup="this.value = this.value.replace(/[^0-9\.]/, '')">
                </td>
                <td>
                    <input type="text" id="seconds" onkeyup="this.value = this.value.replace(/[^0-9\.]/, '')">
                </td>
            </tr>
            <tr>
                <td> 
                    <input type="button" value="convert" onclick="checkConvert()"/>
                </td>
            </tr>
            
        </table>
    </form>
</center>

{% endblock %}