{% extends "base.html" %}


{% block content %}
{% block script %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

<table class="resp-tab clockpage">
    <thead>
        <th class="clock"><h4>{{ name }}</h4></th>
    </thead>
    <tbody>
        <tr>
            <td class="clock"><h5 id="clock">{{ time }}</h5></td>
        </tr>
        <tr>
            <td class="clock"><h5 id="date">{{ date }}</h5></td>
        </tr>
    </tbody>
</table>

{% endblock %}